.znui-display-large {
    font-size: var(--md-sys-typescale-display-large-font-size);
    font-family: var(--md-sys-typescale-display-large-font-family-name);
    font-weight: var(--md-sys-typescale-display-large-font-weight);
    letter-spacing: var(--md-sys-typescale-display-large-letter-spacing);
    line-height: var(--md-sys-typescale-display-large-line-height);
    font-style: var(--md-sys-typescale-display-large-font-family-style);
}
.znui-display-medium {
    font-size: var(--md-sys-typescale-display-medium-font-size);
    font-family: var(--md-sys-typescale-display-medium-font-family-name);
    font-weight: var(--md-sys-typescale-display-medium-font-weight);
    letter-spacing: var(--md-sys-typescale-display-medium-letter-spacing);
    line-height: var(--md-sys-typescale-display-medium-line-height);
    font-style: var(--md-sys-typescale-display-medium-font-family-style);
}
.znui-display-small {
    font-size: var(--md-sys-typescale-display-small-font-size);
    font-family: var(--md-sys-typescale-display-small-font-family-name);
    font-weight: var(--md-sys-typescale-display-small-font-weight);
    letter-spacing: var(--md-sys-typescale-display-small-letter-spacing);
    line-height: var(--md-sys-typescale-display-small-line-height);
    font-style: var(--md-sys-typescale-display-small-font-family-style);
}