.Toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 4px;
    gap: 6px;
    height: 64px;
}

.Toolbar-Title {

}

.Toolbar-Title-Centered {

}

.Toolbar-NavigationIcon {
    width: 48px;
    height: 48px;
}