.Toolbar {
    height: 64px;
    user-select: none;
}

.Toolbar > .inner {
    padding: 8px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.Toolbar-Title {
    flex: 1;
    margin-block-start: 0;
    margin-block-end: 0;
}

.Toolbar-Title-Centered {
    text-align: center;
}

.Toolbar-NavigationIcon {
    width: 48px;
    height: 48px;
}