.NavigationDrawerItem {
    cursor: pointer;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;

    height: 56px;
    border-radius: 100px;

    gap: 12px;

    color: var(--znui-on-surface-variant);
    transition: color 200ms var(--znui-emphasized-motion), background-color 200ms var(--znui-emphasized-motion);
}

.NavigationDrawer--compat .NavigationDrawerItem {
    height: 48px;
}

.NavigationDrawerItem > .background-state {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    opacity: 0;

    border-radius: 100px;
    background: var(--znui-secondary-container);
    transition: left 200ms var(--znui-emphasized-motion), right 200ms var(--znui-emphasized-motion), opacity 200ms var(--znui-emphasized-motion);
}

.NavigationDrawerItem > .inner {
    max-width: calc(100% - 32px);
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 12px;
    z-index: 1;
}

.NavigationDrawerItem > .inner > .text {
    flex: 1 0 0;
    cursor: pointer;
    user-select: none;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.NavigationDrawerItem > .inner > .badge {

}

.NavigationDrawerItem--selected {
    color: var(--znui-on-secondary-container);
}

.NavigationDrawerItem--selected > .background-state {
    right: 0;
    left: 0;
    opacity: 1;
}

.NavigationDrawerItem:hover > .state-layer {
    opacity: 0.09;
    background: var(--znui-primary);
}