.AnimatedVisibility {
    --duration: 400ms;
    transition: transform var(--duration) var(--znui-emphasized-motion), opacity var(--duration) var(--znui-emphasized-motion);
    opacity: 0;
}

.AnimatedVisibility--top {
    transform: translateY(-100%);
}

.AnimatedVisibility--bottom {
    transform: translateY(100%);
}

.AnimatedVisibility--left {
    transform: translateX(-100%);
}

.AnimatedVisibility--center {
    transform: translate(0px);
}

.AnimatedVisibility--right {
    transform: translateX(100%);
}

/**
 * Visibility states
 */

.AnimatedVisibility--visible {
    transform: translate(0px);
    opacity: 1;
}