.Avatar {
    border-radius: 50%;
    overflow: clip;
    background: var(--znui-surface);
    user-select: none;
}

.Avatar--text {
    background: var(--znui-primary-container);
    color: var(--znui-on-primary-container);
    font-style: normal;
    font-weight: 500;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.Avatar > img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    pointer-events: none;
}