.HorizontalList {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.HorizontalList--in {
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    overflow-x: hidden;
}

.HorizontalList::-webkit-scrollbar {
    display: none;
}