/*paint style*/
:root {
    /**
     * Dark colors
     */
    --znui-dark-primary: rgba(102, 221, 140, 1);
    --znui-dark-on-primary: rgba(0, 57, 26, 1);
    --znui-dark-primary-container: rgba(0, 82, 40, 1);
    --znui-dark-on-primary-container: rgba(131, 251, 166, 1);
    --znui-dark-secondary: rgba(183, 204, 184, 1);
    --znui-dark-on-secondary: rgba(34, 53, 38, 1);
    --znui-dark-secondary-container: rgba(0, 82, 40, 1);
    --znui-dark-on-secondary-container: rgba(243, 243, 243, 1);
    --znui-dark-background: rgba(25, 28, 25, 1);
    --znui-dark-on-background: rgba(226, 227, 222, 1);
    --znui-dark-surface: rgba(28, 29, 28, 1);
    --znui-dark-on-surface: rgba(226, 227, 222, 1);
    --znui-dark-surface-variant: rgba(29, 41, 37, 1);
    --znui-dark-outline: rgba(105, 114, 104, 1);
    --znui-dark-outline-variant: rgba(42, 46, 42, 1);
    --znui-dark-tertiary: rgba(213, 198, 61, 1);
    --znui-dark-on-tertiary: rgba(41, 37, 2, 1);
    --znui-dark-on-tertiary-container: rgba(255, 249, 202, 1);
    --znui-dark-tertiary-container: rgba(167, 155, 40, 1);
    --znui-dark-on-surface-variant: rgba(185, 208, 183, 1);
    --znui-dark-on-error: rgba(235, 244, 239, 1);
    --znui-dark-error: rgba(208, 42, 32, 1);

    /**
     * Light colors
     */
    --znui-light-primary: rgba(20, 156, 82, 1);
    --znui-light-on-primary: rgba(255, 255, 255, 1);
    --znui-light-primary-container: rgba(59, 205, 102, 1);
    --znui-light-on-primary-container: rgba(1, 27, 10, 1);
    --znui-light-secondary: rgba(89, 89, 89, 1);
    --znui-light-on-secondary: rgba(255, 255, 255, 1);
    --znui-light-secondary-container: rgba(184, 226, 204, 1);
    --znui-light-on-secondary-container: rgba(14, 31, 18, 1);
    --znui-light-surface-variant: rgba(235, 244, 239, 1);
    --znui-light-background: rgba(249, 255, 248, 1);
    --znui-light-on-background: rgba(0, 33, 14, 1);
    --znui-light-surface: rgba(249, 255, 248, 1);
    --znui-light-on-surface: rgba(0, 0, 0, 1);
    --znui-light-outline: rgba(180, 185, 178, 1);
    --znui-light-outline-variant: rgba(210, 218, 202, 1);
    --znui-light-tertiary-container: rgba(252, 242, 150, 1);
    --znui-light-tertiary: rgba(239, 219, 40, 1);
    --znui-light-on-tertiary: rgba(255, 255, 255, 1);
    --znui-light-on-tertiary-container: rgba(27, 25, 2, 1);
    --znui-light-on-surface-variant: rgba(70, 79, 69, 1);
    --znui-light-error: rgba(179, 38, 30, 1);
    --znui-light-on-error: rgba(249, 255, 248, 1);

    --znui-light-scrollbar-thumb: rgba(70, 79, 69, 0.34);
    --znui-dark-scrollbar-thumb: rgba(185, 208, 183, 0.34);

    /**
     * Shapes
     */
    --znui-shape-none-radius: 0px;
    --znui-shape-esm-radius: 4px;
    --znui-shape-sm-radius: 8px;
    --znui-shape-md-radius: 12px;
    --znui-shape-lg-radius: 16px;
    --znui-shape-elg-radius: 28px;
    --znui-shape-full-radius: 50vh;
}

.ThemeProvider {
    --znui-primary: var(--znui-light-primary);
    --znui-on-primary: var(--znui-light-on-primary);
    --znui-primary-container: var(--znui-light-primary-container);
    --znui-on-primary-container: var(--znui-light-on-primary-container);
    --znui-secondary: var(--znui-light-secondary);
    --znui-on-secondary: var(--znui-light-on-secondary);
    --znui-secondary-container: var(--znui-light-secondary-container);
    --znui-on-secondary-container: var(--znui-light-on-secondary-container);
    --znui-background: var(--znui-light-background);
    --znui-on-background: var(--znui-light-on-background);
    --znui-surface: var(--znui-light-surface);
    --znui-on-surface: var(--znui-light-on-surface);
    --znui-surface-variant: var(--znui-light-surface-variant);
    --znui-on-surface-variant: var(--znui-light-on-surface-variant);
    --znui-outline: var(--znui-light-outline);
    --znui-outline-variant: var(--znui-light-outline-variant);
    --znui-tertiary: var(--znui-light-tertiary);
    --znui-on-tertiary: var(--znui-light-on-tertiary);
    --znui-on-tertiary-container: var(--znui-light-on-tertiary-container);
    --znui-tertiary-container: var(--znui-light-tertiary-container);
    --znui-on-error: var(--znui-light-on-error);
    --znui-error: var(--znui-light-error);

    --znui-scrollbar-thumb: var(--znui-light-scrollbar-thumb);
}

.ThemeProvider[data-theme='dark'] {
    --znui-primary: var(--znui-dark-primary);
    --znui-on-primary: var(--znui-dark-on-primary);
    --znui-primary-container: var(--znui-dark-primary-container);
    --znui-on-primary-container: var(--znui-dark-on-primary-container);
    --znui-secondary: var(--znui-dark-secondary);
    --znui-on-secondary: var(--znui-dark-on-secondary);
    --znui-secondary-container: var(--znui-dark-secondary-container);
    --znui-on-secondary-container: var(--znui-dark-on-secondary-container);
    --znui-background: var(--znui-dark-background);
    --znui-on-background: var(--znui-dark-on-background);
    --znui-surface: var(--znui-dark-surface);
    --znui-on-surface: var(--znui-dark-on-surface);
    --znui-surface-variant: var(--znui-dark-surface-variant);
    --znui-on-surface-variant: var(--znui-dark-on-surface-variant);
    --znui-outline: var(--znui-dark-outline);
    --znui-outline-variant: var(--znui-dark-outline-variant);
    --znui-tertiary: var(--znui-dark-tertiary);
    --znui-on-tertiary: var(--znui-dark-on-tertiary);
    --znui-on-tertiary-container: var(--znui-dark-on-tertiary-container);
    --znui-tertiary-container: var(--znui-dark-tertiary-container);
    --znui-on-error: var(--znui-dark-on-error);
    --znui-error: var(--znui-dark-error);

    --znui-scrollbar-thumb: var(--znui-dark-scrollbar-thumb);
}

.ThemeProvider {
    -webkit-tap-highlight-color: transparent;

    font-family: 'Roboto';
    --emphasized-decelerate-motion: cubic-bezier(0.3, 0.0, 0.8, 0.15);
    --emphasized-motion: cubic-bezier(1, 0, 0.25, 0.82);
}

/*effect style*/
.ThemeProvider .elevation-1 {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.ThemeProvider .elevation-2 {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.ThemeProvider .elevation-3 {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ThemeProvider .elevation-4 {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.ThemeProvider .elevation-5 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-1 {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-2 {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-3 {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-4 {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-5 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), 0px 8px 12px rgba(0, 0, 0, 0.2);
}

/**
 * Scrollbar
 * For WebKit Specific
 */
.ThemeProvider ::-webkit-scrollbar {
    width: 3px;
}

.ThemeProvider ::-webkit-scrollbar-track {
    background: transparent;
}

.ThemeProvider * {
    scrollbar-gutter: stable;
}

.ThemeProvider ::-webkit-scrollbar-thumb {
    background: var(--znui-scrollbar-thumb);
}