/*paint style*/
:root {
    --md-source: #149C53;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary5: #001506;
    --md-ref-palette-primary10: #00210C;
    --md-ref-palette-primary20: #00391A;
    --md-ref-palette-primary25: #004521;
    --md-ref-palette-primary30: #005228;
    --md-ref-palette-primary35: #00602F;
    --md-ref-palette-primary40: #006D37;
    --md-ref-palette-primary50: #008947;
    --md-ref-palette-primary60: #25A55B;
    --md-ref-palette-primary70: #48C173;
    --md-ref-palette-primary80: #66DD8C;
    --md-ref-palette-primary90: #83FBA6;
    --md-ref-palette-primary95: #C3FFCE;
    --md-ref-palette-primary98: #EAFFEA;
    --md-ref-palette-primary99: #F5FFF3;
    --md-ref-palette-primary100: #FFFFFF;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary5: #041408;
    --md-ref-palette-secondary10: #0E1F12;
    --md-ref-palette-secondary20: #223526;
    --md-ref-palette-secondary25: #2D4031;
    --md-ref-palette-secondary30: #394B3C;
    --md-ref-palette-secondary35: #445747;
    --md-ref-palette-secondary40: #506352;
    --md-ref-palette-secondary50: #687C6A;
    --md-ref-palette-secondary60: #819683;
    --md-ref-palette-secondary70: #9CB19D;
    --md-ref-palette-secondary80: #B7CCB8;
    --md-ref-palette-secondary90: #D2E8D3;
    --md-ref-palette-secondary95: #E1F7E1;
    --md-ref-palette-secondary98: #EAFFEA;
    --md-ref-palette-secondary99: #F5FFF3;
    --md-ref-palette-secondary100: #FFFFFF;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary5: #141100;
    --md-ref-palette-tertiary10: #201C00;
    --md-ref-palette-tertiary20: #373100;
    --md-ref-palette-tertiary25: #433C00;
    --md-ref-palette-tertiary30: #4F4700;
    --md-ref-palette-tertiary35: #5C5300;
    --md-ref-palette-tertiary40: #695F00;
    --md-ref-palette-tertiary50: #847800;
    --md-ref-palette-tertiary60: #A19200;
    --md-ref-palette-tertiary70: #BEAD00;
    --md-ref-palette-tertiary80: #DCC80A;
    --md-ref-palette-tertiary90: #F9E534;
    --md-ref-palette-tertiary95: #FFF3A0;
    --md-ref-palette-tertiary98: #FFF9E8;
    --md-ref-palette-tertiary99: #FFFBFF;
    --md-ref-palette-tertiary100: #FFFFFF;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error5: #2D0001;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7E0007;
    --md-ref-palette-error30: #93000A;
    --md-ref-palette-error35: #A80710;
    --md-ref-palette-error40: #BA1A1A;
    --md-ref-palette-error50: #DE3730;
    --md-ref-palette-error60: #FF5449;
    --md-ref-palette-error70: #FF897D;
    --md-ref-palette-error80: #FFB4AB;
    --md-ref-palette-error90: #FFDAD6;
    --md-ref-palette-error95: #FFEDEA;
    --md-ref-palette-error98: #FFF8F7;
    --md-ref-palette-error99: #FFFBFF;
    --md-ref-palette-error100: #FFFFFF;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral5: #0F120F;
    --md-ref-palette-neutral10: #191C19;
    --md-ref-palette-neutral20: #2E312E;
    --md-ref-palette-neutral25: #393C39;
    --md-ref-palette-neutral30: #454744;
    --md-ref-palette-neutral35: #50534F;
    --md-ref-palette-neutral40: #5C5F5B;
    --md-ref-palette-neutral50: #757874;
    --md-ref-palette-neutral60: #8F918D;
    --md-ref-palette-neutral70: #AAACA7;
    --md-ref-palette-neutral80: #C5C7C2;
    --md-ref-palette-neutral90: #E2E3DE;
    --md-ref-palette-neutral95: #F0F1EC;
    --md-ref-palette-neutral98: #F9FAF4;
    --md-ref-palette-neutral99: #FCFDF7;
    --md-ref-palette-neutral100: #FFFFFF;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant5: #0C130D;
    --md-ref-palette-neutral-variant10: #161D17;
    --md-ref-palette-neutral-variant20: #2B322B;
    --md-ref-palette-neutral-variant25: #363D36;
    --md-ref-palette-neutral-variant30: #414941;
    --md-ref-palette-neutral-variant35: #4D544D;
    --md-ref-palette-neutral-variant40: #596058;
    --md-ref-palette-neutral-variant50: #717971;
    --md-ref-palette-neutral-variant60: #8B938A;
    --md-ref-palette-neutral-variant70: #A5ADA4;
    --md-ref-palette-neutral-variant80: #C1C9BF;
    --md-ref-palette-neutral-variant90: #DDE5DA;
    --md-ref-palette-neutral-variant95: #EBF3E8;
    --md-ref-palette-neutral-variant98: #F4FCF1;
    --md-ref-palette-neutral-variant99: #F7FEF4;
    --md-ref-palette-neutral-variant100: #FFFFFF;

    /* light */
    --md-sys-color-primary-light: #006D37;
    --md-sys-color-on-primary-light: #FFFFFF;
    --md-sys-color-primary-container-light: #83FBA6;
    --md-sys-color-on-primary-container-light: #00210C;
    --md-sys-color-primary-fixed-light: #83FBA6;
    --md-sys-color-on-primary-fixed-light: #00210C;
    --md-sys-color-primary-fixed-dim-light: #66DD8C;
    --md-sys-color-on-primary-fixed-variant-light: #005228;
    --md-sys-color-secondary-light: #506352;
    --md-sys-color-on-secondary-light: #FFFFFF;
    --md-sys-color-secondary-container-light: #D2E8D3;
    --md-sys-color-on-secondary-container-light: #0E1F12;
    --md-sys-color-secondary-fixed-light: #D2E8D3;
    --md-sys-color-on-secondary-fixed-light: #0E1F12;
    --md-sys-color-secondary-fixed-dim-light: #B7CCB8;
    --md-sys-color-on-secondary-fixed-variant-light: #394B3C;
    --md-sys-color-tertiary-light: #695F00;
    --md-sys-color-on-tertiary-light: #FFFFFF;
    --md-sys-color-tertiary-container-light: #F9E534;
    --md-sys-color-on-tertiary-container-light: #201C00;
    --md-sys-color-tertiary-fixed-light: #F9E534;
    --md-sys-color-on-tertiary-fixed-light: #201C00;
    --md-sys-color-tertiary-fixed-dim-light: #DCC80A;
    --md-sys-color-on-tertiary-fixed-variant-light: #4F4700;
    --md-sys-color-error-light: #BA1A1A;
    --md-sys-color-on-error-light: #FFFFFF;
    --md-sys-color-error-container-light: #FFDAD6;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-outline-light: #717971;
    --md-sys-color-background-light: #FCFDF7;
    --md-sys-color-on-background-light: #191C19;
    --md-sys-color-surface-light: #F9FAF4;
    --md-sys-color-on-surface-light: #191C19;
    --md-sys-color-surface-variant-light: #DDE5DA;
    --md-sys-color-on-surface-variant-light: #414941;
    --md-sys-color-inverse-surface-light: #2E312E;
    --md-sys-color-inverse-on-surface-light: #F0F1EC;
    --md-sys-color-inverse-primary-light: #66DD8C;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #006D37;
    --md-sys-color-outline-variant-light: #C1C9BF;
    --md-sys-color-scrim-light: #000000;
    --md-sys-color-surface-container-highest-light: #E2E3DE;
    --md-sys-color-surface-container-high-light: #E7E9E3;
    --md-sys-color-surface-container-light: #EDEEE9;
    --md-sys-color-surface-container-low-light: #F3F4EF;
    --md-sys-color-surface-container-lowest-light: #FFFFFF;
    --md-sys-color-surface-bright-light: #F9FAF4;
    --md-sys-color-surface-dim-light: #D9DBD5;

    /* dark */
    --md-sys-color-primary-dark: #66DD8C;
    --md-sys-color-on-primary-dark: #00391A;
    --md-sys-color-primary-container-dark: #005228;
    --md-sys-color-on-primary-container-dark: #83FBA6;
    --md-sys-color-primary-fixed-dark: #83FBA6;
    --md-sys-color-on-primary-fixed-dark: #00210C;
    --md-sys-color-primary-fixed-dim-dark: #66DD8C;
    --md-sys-color-on-primary-fixed-variant-dark: #005228;
    --md-sys-color-secondary-dark: #B7CCB8;
    --md-sys-color-on-secondary-dark: #223526;
    --md-sys-color-secondary-container-dark: #394B3C;
    --md-sys-color-on-secondary-container-dark: #D2E8D3;
    --md-sys-color-secondary-fixed-dark: #D2E8D3;
    --md-sys-color-on-secondary-fixed-dark: #0E1F12;
    --md-sys-color-secondary-fixed-dim-dark: #B7CCB8;
    --md-sys-color-on-secondary-fixed-variant-dark: #394B3C;
    --md-sys-color-tertiary-dark: #DCC80A;
    --md-sys-color-on-tertiary-dark: #373100;
    --md-sys-color-tertiary-container-dark: #4F4700;
    --md-sys-color-on-tertiary-container-dark: #F9E534;
    --md-sys-color-tertiary-fixed-dark: #F9E534;
    --md-sys-color-on-tertiary-fixed-dark: #201C00;
    --md-sys-color-tertiary-fixed-dim-dark: #DCC80A;
    --md-sys-color-on-tertiary-fixed-variant-dark: #4F4700;
    --md-sys-color-error-dark: #FFB4AB;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-error-container-dark: #93000A;
    --md-sys-color-on-error-container-dark: #FFDAD6;
    --md-sys-color-outline-dark: #8B938A;
    --md-sys-color-background-dark: #191C19;
    --md-sys-color-on-background-dark: #E2E3DE;
    --md-sys-color-surface-dark: #111411;
    --md-sys-color-on-surface-dark: #C5C7C2;
    --md-sys-color-surface-variant-dark: #414941;
    --md-sys-color-on-surface-variant-dark: #C1C9BF;
    --md-sys-color-inverse-surface-dark: #E2E3DE;
    --md-sys-color-inverse-on-surface-dark: #191C19;
    --md-sys-color-inverse-primary-dark: #006D37;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #66DD8C;
    --md-sys-color-outline-variant-dark: #414941;
    --md-sys-color-scrim-dark: #000000;
    --md-sys-color-surface-container-highest-dark: #333532;
    --md-sys-color-surface-container-high-dark: #282B27;
    --md-sys-color-surface-container-dark: #1D201D;
    --md-sys-color-surface-container-low-dark: #191C19;
    --md-sys-color-surface-container-lowest-dark: #0C0F0C;
    --md-sys-color-surface-bright-dark: #373A36;
    --md-sys-color-surface-dim-dark: #111411;

    /* display - large */
    --md-sys-typescale-display-large-font-family-name: Roboto;
    --md-sys-typescale-display-large-font-family-style: Regular;
    --md-sys-typescale-display-large-font-weight: 400px;
    --md-sys-typescale-display-large-font-size: 57px;
    --md-sys-typescale-display-large-line-height: 64px;
    --md-sys-typescale-display-large-letter-spacing: -0.25px;

    /* display - medium */
    --md-sys-typescale-display-medium-font-family-name: Roboto;
    --md-sys-typescale-display-medium-font-family-style: Regular;
    --md-sys-typescale-display-medium-font-weight: 400px;
    --md-sys-typescale-display-medium-font-size: 45px;
    --md-sys-typescale-display-medium-line-height: 52px;
    --md-sys-typescale-display-medium-letter-spacing: 0px;

    /* display - small */
    --md-sys-typescale-display-small-font-family-name: Roboto;
    --md-sys-typescale-display-small-font-family-style: Regular;
    --md-sys-typescale-display-small-font-weight: 400px;
    --md-sys-typescale-display-small-font-size: 36px;
    --md-sys-typescale-display-small-line-height: 44px;
    --md-sys-typescale-display-small-letter-spacing: 0px;

    /* headline - large */
    --md-sys-typescale-headline-large-font-family-name: Roboto;
    --md-sys-typescale-headline-large-font-family-style: Regular;
    --md-sys-typescale-headline-large-font-weight: 400px;
    --md-sys-typescale-headline-large-font-size: 32px;
    --md-sys-typescale-headline-large-line-height: 40px;
    --md-sys-typescale-headline-large-letter-spacing: 0px;

    /* headline - medium */
    --md-sys-typescale-headline-medium-font-family-name: Roboto;
    --md-sys-typescale-headline-medium-font-family-style: Regular;
    --md-sys-typescale-headline-medium-font-weight: 400px;
    --md-sys-typescale-headline-medium-font-size: 28px;
    --md-sys-typescale-headline-medium-line-height: 36px;
    --md-sys-typescale-headline-medium-letter-spacing: 0px;

    /* headline - small */
    --md-sys-typescale-headline-small-font-family-name: Roboto;
    --md-sys-typescale-headline-small-font-family-style: Regular;
    --md-sys-typescale-headline-small-font-weight: 400px;
    --md-sys-typescale-headline-small-font-size: 24px;
    --md-sys-typescale-headline-small-line-height: 32px;
    --md-sys-typescale-headline-small-letter-spacing: 0px;

    /* body - large */
    --md-sys-typescale-body-large-font-family-name: Roboto;
    --md-sys-typescale-body-large-font-family-style: Regular;
    --md-sys-typescale-body-large-font-weight: 400px;
    --md-sys-typescale-body-large-font-size: 16px;
    --md-sys-typescale-body-large-line-height: 24px;
    --md-sys-typescale-body-large-letter-spacing: 0.50px;

    /* body - medium */
    --md-sys-typescale-body-medium-font-family-name: Roboto;
    --md-sys-typescale-body-medium-font-family-style: Regular;
    --md-sys-typescale-body-medium-font-weight: 400px;
    --md-sys-typescale-body-medium-font-size: 14px;
    --md-sys-typescale-body-medium-line-height: 20px;
    --md-sys-typescale-body-medium-letter-spacing: 0.25px;

    /* body - small */
    --md-sys-typescale-body-small-font-family-name: Roboto;
    --md-sys-typescale-body-small-font-family-style: Regular;
    --md-sys-typescale-body-small-font-weight: 400px;
    --md-sys-typescale-body-small-font-size: 12px;
    --md-sys-typescale-body-small-line-height: 16px;
    --md-sys-typescale-body-small-letter-spacing: 0.40px;

    /* label - large */
    --md-sys-typescale-label-large-font-family-name: Roboto;
    --md-sys-typescale-label-large-font-family-style: Medium;
    --md-sys-typescale-label-large-font-weight: 500px;
    --md-sys-typescale-label-large-font-size: 14px;
    --md-sys-typescale-label-large-line-height: 20px;
    --md-sys-typescale-label-large-letter-spacing: 0.10px;

    /* label - medium */
    --md-sys-typescale-label-medium-font-family-name: Roboto;
    --md-sys-typescale-label-medium-font-family-style: Medium;
    --md-sys-typescale-label-medium-font-weight: 500px;
    --md-sys-typescale-label-medium-font-size: 12px;
    --md-sys-typescale-label-medium-line-height: 16px;
    --md-sys-typescale-label-medium-letter-spacing: 0.50px;

    /* label - small */
    --md-sys-typescale-label-small-font-family-name: Roboto;
    --md-sys-typescale-label-small-font-family-style: Medium;
    --md-sys-typescale-label-small-font-weight: 500px;
    --md-sys-typescale-label-small-font-size: 11px;
    --md-sys-typescale-label-small-line-height: 16px;
    --md-sys-typescale-label-small-letter-spacing: 0.50px;

    /* title - large */
    --md-sys-typescale-title-large-font-family-name: Roboto;
    --md-sys-typescale-title-large-font-family-style: Regular;
    --md-sys-typescale-title-large-font-weight: 400px;
    --md-sys-typescale-title-large-font-size: 22px;
    --md-sys-typescale-title-large-line-height: 28px;
    --md-sys-typescale-title-large-letter-spacing: 0px;

    /* title - medium */
    --md-sys-typescale-title-medium-font-family-name: Roboto;
    --md-sys-typescale-title-medium-font-family-style: Medium;
    --md-sys-typescale-title-medium-font-weight: 500px;
    --md-sys-typescale-title-medium-font-size: 16px;
    --md-sys-typescale-title-medium-line-height: 24px;
    --md-sys-typescale-title-medium-letter-spacing: 0.15px;

    /* title - small */
    --md-sys-typescale-title-small-font-family-name: Roboto;
    --md-sys-typescale-title-small-font-family-style: Medium;
    --md-sys-typescale-title-small-font-weight: 500px;
    --md-sys-typescale-title-small-font-size: 14px;
    --md-sys-typescale-title-small-line-height: 20px;
    --md-sys-typescale-title-small-letter-spacing: 0.10px;

    --znui-light-scrollbar-thumb: rgba(70, 79, 69, 0.34);
    --znui-dark-scrollbar-thumb: rgba(185, 208, 183, 0.34);

    /**
     * Shapes
     */
    --znui-shape-none-radius: 0;
    --znui-shape-esm-radius: 4px;
    --znui-shape-sm-radius: 8px;
    --znui-shape-md-radius: 12px;
    --znui-shape-lg-radius: 16px;
    --znui-shape-elg-radius: 28px;
    --znui-shape-full-radius: 50vh;

    /**
     * Insets provider
     */
    --znui-safe-area-inset-top: env(safe-area-inset-top);
    --znui-safe-area-inset-bottom: env(safe-area-inset-bottom);
    --znui-safe-area-inset-left: env(safe-area-inset-left);
    --znui-safe-area-inset-right: env(safe-area-inset-right);

    /** Keyboard **/
    --znui-keyboard-inset-top: env(keyboard-inset-top);
    --znui-keyboard-inset-bottom: env(keyboard-inset-bottom);
    --znui-keyboard-inset-left: env(keyboard-inset-left);
    --znui-keyboard-inset-right: env(keyboard-inset-right);

    /** All **/
    /** Keyboard **/
    --znui-all-inset-top: calc(var(--znui-safe-area-inset-top) + var(--znui-keyboard-inset-top));
    --znui-all-inset-bottom: calc(var(--znui-safe-area-inset-bottom) + var(--znui-keyboard-inset-bottom));
    --znui-all-inset-left: calc(var(--znui-safe-area-inset-left) + var(--znui-keyboard-inset-left));
    --znui-all-inset-right: calc(var(--znui-safe-area-inset-right) + var(--znui-keyboard-inset-right));
}

.ThemeProvider {
    /* Primary tokens */
    --znui-primary: var(--md-sys-color-primary-light);
    --znui-on-primary: var(--md-sys-color-on-primary-light);
    --znui-primary-container: var(--md-sys-color-primary-container-light);
    --znui-on-primary-container: var(--md-sys-color-on-primary-container-light);
    --znui-primary-fixed: var(--md-sys-color-primary-fixed-light);
    --znui-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
    --znui-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light);

    /* Secondary tokens */
    --znui-secondary: var(--md-sys-color-secondary-light);
    --znui-on-secondary: var(--md-sys-color-on-secondary-light);
    --znui-secondary-container: var(--md-sys-color-secondary-container-light);
    --znui-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
    --znui-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
    --znui-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light);
    --znui-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light);

    /* Tertiary tokens */
    --znui-tertiary: var(--md-sys-color-tertiary-light);
    --znui-on-tertiary: var(--md-sys-color-on-tertiary-light);
    --znui-tertiary-container: var(--md-sys-color-tertiary-container-light);
    --znui-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
    --znui-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
    --znui-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
    --znui-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light);

    /* Error tokens */
    --znui-error: var(--md-sys-color-error-light);
    --znui-on-error: var(--md-sys-color-on-error-light);
    --znui-error-container: var(--md-sys-color-error-container-light);
    --znui-on-error-container: var(--md-sys-color-on-error-container-light);

    /* Surface tokens */
    --znui-surface: var(--md-sys-color-surface-light);
    --znui-surface-dim: var(--md-sys-color-surface-dim-light);
    --znui-surface-bright: var(--md-sys-color-surface-bright-light);

    --znui-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
    --znui-surface-container-low: var(--md-sys-color-surface-container-low-light);
    --znui-surface-container: var(--md-sys-color-surface-container-light);
    --znui-surface-container-high: var(--md-sys-color-surface-container-high-light);
    --znui-surface-container-highest: var(--md-sys-color-surface-container-highest-light);

    --znui-on-surface: var(--md-sys-color-on-surface-light);
    --znui-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
    --znui-outline: var(--md-sys-color-outline-light);
    --znui-outline-variant: var(--md-sys-color-outline-variant-light);

    /* Inverse tokens */
    --znui-inverse-surface: var(--md-sys-color-inverse-surface-light);
    --znui-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
    --znui-inverse-primary: var(--md-sys-color-inverse-primary-light);

    /* Other tokens */
    --znui-scrim: var(--md-sys-color-scrim-light);
    --znui-shadow: var(--md-sys-color-shadow-light);
    --znui-scrollbar-thumb: var(--znui-surface-variant);
}

.ThemeProvider[data-theme='dark'] {
    /* Primary tokens */
    --znui-primary: var(--md-sys-color-primary-dark);
    --znui-on-primary: var(--md-sys-color-on-primary-dark);
    --znui-primary-container: var(--md-sys-color-primary-container-dark);
    --znui-on-primary-container: var(--md-sys-color-on-primary-container-dark);
    --znui-primary-fixed: var(--md-sys-color-primary-fixed-dark);
    --znui-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
    --znui-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);

    /* Secondary tokens */
    --znui-secondary: var(--md-sys-color-secondary-dark);
    --znui-on-secondary: var(--md-sys-color-on-secondary-dark);
    --znui-secondary-container: var(--md-sys-color-secondary-container-dark);
    --znui-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
    --znui-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
    --znui-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
    --znui-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);

    /* Tertiary tokens */
    --znui-tertiary: var(--md-sys-color-tertiary-dark);
    --znui-on-tertiary: var(--md-sys-color-on-tertiary-dark);
    --znui-tertiary-container: var(--md-sys-color-tertiary-container-dark);
    --znui-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
    --znui-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
    --znui-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
    --znui-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);

    /* Error tokens */
    --znui-error: var(--md-sys-color-error-dark);
    --znui-on-error: var(--md-sys-color-on-error-dark);
    --znui-error-container: var(--md-sys-color-error-container-dark);
    --znui-on-error-container: var(--md-sys-color-on-error-container-dark);

    /* Surface tokens */
    --znui-surface: var(--md-sys-color-surface-dark);
    --znui-surface-dim: var(--md-sys-color-surface-dim-dark);
    --znui-surface-bright: var(--md-sys-color-surface-bright-dark);

    --znui-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
    --znui-surface-container-low: var(--md-sys-color-surface-container-low-dark);
    --znui-surface-container: var(--md-sys-color-surface-container-dark);
    --znui-surface-container-high: var(--md-sys-color-surface-container-high-dark);
    --znui-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);

    --znui-on-surface: var(--md-sys-color-on-surface-dark);
    --znui-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
    --znui-outline: var(--md-sys-color-outline-dark);
    --znui-outline-variant: var(--md-sys-color-outline-variant-dark);

    /* Inverse tokens */
    --znui-inverse-surface: var(--md-sys-color-inverse-surface-dark);
    --znui-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
    --znui-inverse-primary: var(--md-sys-color-inverse-primary-dark);

    /* Other tokens */
    --znui-scrim: var(--md-sys-color-scrim-dark);
    --znui-shadow: var(--md-sys-color-shadow-dark);
    --znui-scrollbar-thumb: var(--znui-surface-variant);

    /* Motion */
    --znui-standard-motion: cubic-bezier(0.2, 0, 0, 1);
    --znui-standard-accelerate-motion: cubic-bezier(0.3, 0, 1, 1);
    --znui-standard-decelerate-motion: cubic-bezier(0, 0, 0, 1);
    --znui-emphasized-motion: cubic-bezier(0.45, 0.25, 0, 1.1);
    --znui-emphasized-accelerate-motion: cubic-bezier(0.3, 0, 0.8, 0.15);
    --znui-emphasized-decelerate-motion: cubic-bezier(0.05, 0.7, 0.1, 1);
}

/** Deprecated fallbacks **/
.ThemeProvider {
    --znui-background: var(--znui-surface);
    --znui-on-background: var(--znui-on-surface);
    --znui-surface-variant: var(--znui-surface-container-highest)
}


.ThemeProvider {
    -webkit-tap-highlight-color: transparent;

    font-family: 'Roboto';
}

/*effect style*/
.ThemeProvider .elevation-1 {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ThemeProvider .elevation-2 {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ThemeProvider .elevation-3 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ThemeProvider .elevation-4 {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 10px rgba(0, 0, 0, 0.2);
}

.ThemeProvider .elevation-5 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 12px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-2 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-3 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-4 {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 10px rgba(0, 0, 0, 0.2);
}

.ThemeProvider[data-theme='dark'] .elevation-5 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 12px rgba(0, 0, 0, 0.2);
}

/**
 * Scrollbar
 * For WebKit Specific
 */
.ThemeProvider ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.ThemeProvider ::-webkit-scrollbar-track {
    background: transparent;
}

.ThemeProvider * {
    scrollbar-gutter: stable;
}

.ThemeProvider ::-webkit-scrollbar-thumb {
    background: var(--znui-scrollbar-thumb);
}