.Ripple-Animation {
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 400ms var(--znui-emphasized-motion) forwards;
    background-color: currentColor;
    opacity: 0.12;
}

.ripple-trigger {
    z-index: 2;
}

.Ripple {
    position: absolute;
    transition: opacity 300ms var(--znui-emphasized-motion);
    opacity: 0.12;
}

.Ripple-Fixed {
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0.12;
    transform: scale(4);
}

.Ripple-Hidden {
    background-color: currentColor;
    transform: scale(4);
    opacity: 0;
}

@keyframes ripple {
    to {
        transform: scale(4);
    }
}