.znui-body-large {
    font-size: var(--md-sys-typescale-body-large-font-size);
    font-family: var(--md-sys-typescale-body-large-font-family-name);
    font-weight: var(--md-sys-typescale-body-large-font-weight);
    letter-spacing: var(--md-sys-typescale-body-large-letter-spacing);
    line-height: var(--md-sys-typescale-body-large-line-height);
    font-style: var(--md-sys-typescale-body-large-font-family-style);
}
.znui-body-medium {
    font-size: var(--md-sys-typescale-body-medium-font-size);
    font-family: var(--md-sys-typescale-body-medium-font-family-name);
    font-weight: var(--md-sys-typescale-body-medium-font-weight);
    letter-spacing: var(--md-sys-typescale-body-medium-letter-spacing);
    line-height: var(--md-sys-typescale-body-medium-line-height);
    font-style: var(--md-sys-typescale-body-medium-font-family-style);
}
.znui-body-small {
    font-size: var(--md-sys-typescale-body-small-font-size);
    font-family: var(--md-sys-typescale-body-small-font-family-name);
    font-weight: var(--md-sys-typescale-body-small-font-weight);
    letter-spacing: var(--md-sys-typescale-body-small-letter-spacing);
    line-height: var(--md-sys-typescale-body-small-line-height);
    font-style: var(--md-sys-typescale-body-small-font-family-style);
}