.NavigationRailItem > .IconContainer > .background-state {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    opacity: 0;

    border-radius: 16px;
    background: var(--znui-secondary-container);
    transition: left 200ms var(--znui-emphasized-motion), right 200ms var(--znui-emphasized-motion), opacity 200ms var(--znui-emphasized-motion);
}


.NavigationRailItem--selected > .IconContainer > .background-state {
    right: 0;
    left: 0;
    opacity: 1;
}