.TextField {
    transition: color 300ms var(--emphasized-motion);

    color: var(--znui-on-surface-variant);

    --border-size: 1px;
    box-sizing: border-box;
    border: var(--znui-outline) 1px solid;
    border-radius: 4px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 11px;
    padding-inline-end: 0;
    padding-block-end: 0;
}

.TextField > .legend {
    padding: 0;
    max-width: 0;
    opacity: 0;
}

.TextField > input {
    color: currentColor;
    margin-left: calc(17px - var(--border-size) - 12px);
    background: transparent;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0;
    text-overflow: ellipsis;
    margin-top: calc(-7px + var(--border-size));
}

.TextField > .label {
    pointer-events: none;
    transition:
            top 100ms var(--emphasized-decelerate-motion),
            font-size 100ms var(--emphasized-decelerate-motion);

    position: absolute;
    /*background-color: var(--znui-background);*/
    left: calc(13px - var(--border-size));
    margin-top: -8px;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 2;

    top: 15px;
}

.TextField > input:not(:placeholder-shown) ~ .label ~ legend, .TextField:focus-within > legend {
    padding-left: 4px;
    padding-right: 4px;
    max-width: 100vw;

    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
}

.TextField > input:not(:placeholder-shown) ~ .label, .TextField:focus-within > .label {
    top: -10px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
}

.TextField:focus-within > .label {
    color: var(--znui-primary);
}

.TextField:hover > input::placeholder {
    color: var(--znui-on-surface-variant);
    transition: color 300ms var(--emphasized-motion);
}

.TextField--labeled > input::placeholder {
    color: transparent;
    opacity: 0;
}

.TextField--labeled:focus-within > input::placeholder {
    color: currentColor;
    opacity: 1;
}

.TextField:hover {
    color: var(--znui-on-surface);
}

.TextField > input:focus {
    outline: none;
    color: var(--znui-on-surface);
}

.TextField:focus-within {
    --border-size: 2px;
    border: var(--znui-primary) 2px solid;
    color: var(--znui-outline);
}

.TextField-Container--error {
    color: var(--znui-error);
}

.TextField-Container--error > .TextField {
    --border-size: 2px;
    border: var(--znui-error) 2px solid!important;
}

.TextField-Container--error > .TextField > .label {
    color: var(--znui-error)!important;
}