.TextField {
    --border-size: 1px;
}

.TextField--disabled {
    opacity: 0.34;
    pointer-events: none;
}

.TextField:focus-within > .label {
    color: var(--znui-primary);
}

.TextField:hover > input::placeholder,
.TextField:hover > textarea::placeholder {
    color: var(--znui-on-surface-variant);
}

.TextField:hover {
    color: var(--znui-on-surface);
}

.TextField > input:focus {
    outline: none;
    color: var(--znui-on-surface);
}

.TextField:focus-within {
    --border-size: 3px;
    border: var(--znui-primary) 3px solid;
    color: var(--znui-outline);
}

.TextField-Container--error > .TextField:not(:focus-within) {
    --border-size: 3px;
    border: var(--znui-error) 3px solid!important;
}

.TextField-Container--error > .TextField:not(:focus-within) > .label {
    color: var(--znui-error)!important;
}

.TextField-Container--error > .FilledTextView:not(:focus-within) {
    --border-size: 3px;
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
    border-bottom: var(--znui-error) 3px solid!important;
}


.TextField-Container--error > .FilledTextView:not(:focus-within) > .label {
    color: var(--znui-error)!important;
}