.Switch {
    --border-width: 3px;
    --width: 52px;
    --height: 32px;
    --transition-delay: 80ms;

    width: calc(var(--width) - var(--border-width) * 2);
    height: calc(var(--height) - var(--border-width) * 2);
    border: var(--znui-outline) solid var(--border-width);
    background: var(--znui-surface-variant);
    border-radius: 52px;

    transition: background  var(--transition-delay) linear,
    border      var(--transition-delay) linear
;
    cursor: pointer;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.Switch-Thumb-outer {
    position: relative;
    height: calc(var(--height) - var(--border-width) * 2);
}

.Switch-Thumb {
    width: 16px;
    height: 16px;
    background: var(--znui-outline);
    color: var(--znui-on-primary);
    border-radius: 128px;
    position: absolute;

    transition: width var(--transition-delay) linear,
    height      var(--transition-delay) linear,
    background  var(--transition-delay) linear,
    border  var(--transition-delay) linear,
    margin-left  var(--transition-delay) linear,
    margin-right  var(--transition-delay) linear,
    opacity  var(--transition-delay) linear,
    transform   var(--transition-delay) linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Switch-Thumb > * {
    width: 16px;
    height: 16px;
}

.Switch > input {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.Switch--disabled {
    pointer-events: none;
    background: var(--znui-surface);
    border-color: var(--znui-on-surface);
    opacity: 0.12;
}

.Switch--disabled > .Switch-Thumb {
    background: var(--znui-on-surface);
    color: var(--znui-surface-variant);
    opacity: 0.38;
}

.Switch--checked.Switch--disabled {
    background: var(--znui-on-surface);
    border-color: var(--znui-on-surface);
    opacity: 0.12;
}

.Switch--checked.Switch--disabled > .Switch-Thumb {
    background: var(--znui-surface);
}

.Switch:hover > .Switch-Thumb {
    background: var(--znui-on-surface-variant);
}

.Switch:has(> input:focus-visible)  > .Switch-Thumb {
    background: var(--znui-on-surface-variant);
}

.Switch--checked > .Switch-Thumb {
    color: var(--znui-on-primary-container);
    background: var(--znui-on-primary);
}

.Switch--checked:hover > .Switch-Thumb {
    background: var(--znui-primary-container);
}

.Switch--checked:has(> input:focus-visible) > .Switch-Thumb {
    background: var(--znui-primary-container);
}

.Switch--checked {
    background: var(--znui-primary);
    border: var(--znui-primary) solid var(--border-width);
}