.IconButton {
    overflow: clip;
    position: relative;
    border: none;
    outline: none;
    background: none;
    height: 48px;
    width: 48px;
    --icon-size: 24px;
    color: currentColor;
}

.IconButton:enabled:hover > .state-layer {
    background: var(--znui-primary);
    opacity: 0.08;
}

/** state: focused */
.IconButton:enabled:focus-visible > .state-layer {
    background: var(--znui-primary);
    opacity: 0.12;
}

.IconButton--disabled {
    pointer-events: none;
    opacity: 0.38;
}