.znui-label-large--prominent {
    font-size: var(--md-sys-typescale-label-large-font-size);
    font-family: var(--md-sys-typescale-label-large-font-family-name);
    font-weight: 600;
    letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
    line-height: var(--md-sys-typescale-label-large-line-height);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
}
.znui-label-large {
    font-size: var(--md-sys-typescale-label-large-font-size);
    font-family: var(--md-sys-typescale-label-large-font-family-name);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
    line-height: var(--md-sys-typescale-label-large-line-height);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
}
.znui-label-medium--prominent {
    font-size: var(--md-sys-typescale-label-medium-font-size);
    font-family: var(--md-sys-typescale-label-medium-font-family-name);
    font-weight: 600;
    letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
    line-height: var(--md-sys-typescale-label-medium-line-height);
    font-style: var(--md-sys-typescale-label-medium-font-family-style);
}
.znui-label-medium {
    font-size: var(--md-sys-typescale-label-medium-font-size);
    font-family: var(--md-sys-typescale-label-medium-font-family-name);
    font-weight: var(--md-sys-typescale-label-medium-font-weight);
    letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
    line-height: var(--md-sys-typescale-label-medium-line-height);
    font-style: var(--md-sys-typescale-label-medium-font-family-style);
}
.znui-label-small {
    font-size: var(--md-sys-typescale-label-small-font-size);
    font-family: var(--md-sys-typescale-label-small-font-family-name);
    font-weight: var(--md-sys-typescale-label-small-font-weight);
    letter-spacing: var(--md-sys-typescale-label-small-letter-spacing);
    line-height: var(--md-sys-typescale-label-small-line-height);
    font-style: var(--md-sys-typescale-label-small-font-family-style);
}
