.znui-label-large---prominent {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 600;
    letter-spacing: 0.10000000149011612px;
    line-height: 20px;
}
.znui-label-large {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.10000000149011612px;
    line-height: 20px;
}
.znui-label-medium---prominent {
    font-size: 12px;
    font-family: Roboto;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 16px;
}
.znui-label-medium {
    font-size: 12px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 16px;
}
.znui-label-small {
    font-size: 11px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 16px;
}
